/*.*
node_modules/
wp-admin/
wp-includes/
wp-content/languages
wp-content/plugins
wp-content/themes/*
wp-content/upgrade
wp-content/uploads
wp-content/index.php
!webpack/
!wp-content/themes/iqwik
wp-content/themes/iqwik/assets/public/js
wp-content/themes/iqwik/version.php
!.browserslistrc
!.editconfig
!.gitignore
!jsconfig.json
!nodemon.json
!package.json
!polyfills.js
!README.md
